* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white
}

body {
    background-color: rgb(0, 3, 45);
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;

}

.wrap {
    border: 1px solid whitesmoke;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 2%;
}

.icon {
    width: 60px;
    height: 60px;
    margin-bottom: 8%;
    border: 1px solid whitesmoke;
    border-radius: 40px;
}

img {
    background-color: rgb(195, 192, 192);
}

#email label {
    border: 1px solid grey;
    display: flex;
    margin: 5px 0;
}

input[type="email"] {
    height: 50px;
    width: 250px;
    background-color: rgb(230, 230, 230);
    border: 1px solid grey;
    outline: none;
    font-size: 18px;
}

#password label {
    border: 1px solid grey;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

input[type="password"] {
    height: 50px;
    width: 250px;
    background-color: rgb(230, 230, 230);
    border: 1px solid grey;
    outline: none;
    font-size: 18px;
}

.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: 30px;
    /* border: 1px solid blue; */

}

a {
    text-decoration: none;
    font-style: italic;
    color: white;
}

button {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border: 2px solid white;
    background-color: blue;
    color: white;
    font-size: 22px;
    cursor: pointer;
}